<div class='row'>
	<div class="span8">
		<div class="well">
			<%= raw(@page.content_for(:body)) %>
		</div>
	</div>

	<div class="span4">
		<ul class="polaroids" style="width: 280px;">
				<li>
					<a href="#" title="Gereedschap">
						<%= image_tag("IMG_8373.JPG", :alt => "Gereedschap") %>
					</a>
				</li>
				<li>
					<a href="#" title="Aan het werk">
						<%= image_tag("IMG_8302.JPG", :alt => "Aan het werk") %>
					</a>
				</li>
				<li>
					<a href="#" title="Portret">
						<%= image_tag("IMG_8337.JPG", :alt => "Portret") %>
					</a>
				</li>
				<li>
					<a href="#" title="Meer gereedschap">
						<%= image_tag("IMG_8347.JPG", :alt => "Meer gereedschap") %>
					</a>
				</li>
		</ul>
	</div>
</div>